backend/n8n_workflows/_archive/production_workflow.json
{
  "name": "Production Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f19defc-df4c-4688-a584-a9fc5ce09364",
              "name": "original-message",
              "value": "={{ $json.body.payload.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "id": "edit-fields",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.payload.model }}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "claude"
            },
            {
              "operation": "startsWith",
              "value2": "gpt",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "sonar",
              "output": 2
            }
          ]
        }
      },
      "id": "select-model",
      "name": "Select Model",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "headerAuth",
        "nodeCredentialType": "anthropicApi",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"{{$json.body.payload.model}}\", \"messages\": [{\"role\": \"user\", \"content\": \"{{$json.body.payload.message}}\"}], \"system\": \"{{$json.body.payload.system_prompt}}\", \"max_tokens\": 1024 }"
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api-creds",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "nodeCredentialType": "openAiApi",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"{{$json.body.payload.model}}\", \"messages\": [{\"role\": \"system\", \"content\": \"{{$json.body.payload.system_prompt}}\"}, {\"role\": \"user\", \"content\": \"{{$json.body.payload.message}}\"}], \"max_tokens\": 1024 }"
      },
      "id": "openai-api",
      "name": "OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-creds",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "nodeCredentialType": "perplexityApi",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"{{$json.body.payload.model}}\", \"messages\": [{\"role\": \"system\", \"content\": \"{{$json.body.payload.system_prompt}}\"}, {\"role\": \"user\", \"content\": \"{{$json.body.payload.message}}\"}], \"max_tokens\": 1024 }"
      },
      "id": "perplexity-api",
      "name": "Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400],
      "credentials": {
        "perplexityApi": {
          "id": "perplexity-api-creds",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "question",
              "value": "={{ $json.body.payload.message }}"
            },
            {
              "name": "answer",
              "value": "={{ $json.content?.[0]?.text || $json.choices?.[0]?.message?.content || $json.content }}"
            }
          ]
        }
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08E71W1C2V",
          "mode": "list",
          "cachedResultName": "n8n-enhance-message-test"
        },
        "text": "=New message from Universal Agents:\n\nUser: {{ $('Edit Fields').item.json[\"original-message\"] }}\n\nResponse: {{ $json.content?.[0]?.text || $json.choices?.[0]?.message?.content || $json.content || $json.response }}",
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "send-to-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1450, 500],
      "credentials": {
        "slackApi": {
          "id": "BNokhrU6KVKaB8Tq",
          "name": "Slack account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Model": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI API": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity API": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
} 